* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background: url('../img/head-bg.jpg') no-repeat top right /cover;
	padding-bottom: 160px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;	
}

.logo {		
	margin-top: 43px;
}

.logo:hover {
	transform: scale(1.1);
}

.menu {	
	display: block;
	margin: 55px 0 0 0;
}

.menu li {
	display: block;
	float: left;
}

.menu a {
	color: #fff;
	font-size: 14px;	
	text-decoration: none;
	margin-left: 41px;
}

.menu a:hover {
	text-decoration: underline;
}

header p {
	font-size: 40px;
	text-align: center;
	margin-top: 213px;
}

header h1 {
	font-size: 75px;
	text-align: center;
	font-weight: bold;
	margin: 50px 0 60px 0;
}

header .button {	
	color: #484543;
	background: #fed136;
	text-decoration: none;
	border-radius: 3px;	
	margin: 0 auto;
	padding: 25px 55px;
	font-weight: bold;
	font-size: 18px;
}

header .button:hover {
	background: #fdde75;
}

#services {
	padding: 120px 0;
}

.section-title {
	text-align: center;
}

.section-title h2 {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 20px;
}

.section-title p {
	color: #777;
	font-size: 16px;
	margin: 0 0 80px;
}

.services__item {
	width: 33%;
	text-align: center;
	padding: 0 20px;
}

.services__item a {
	display: inline-block;
}

.services__item a:hover img {
	transform: scale(1.1);
}

.services__item h3 {
	font-size: 18px;
	font-weight: bold;
	color: #000;		
}

.services__item p {
	font-size: 14px;
	color: #777;
	line-height: 1.55em;
}

#portfolio {
	padding: 120px 0 131px;
	background: #f7f7f7;
}

.gallery-item {
	margin-right: 33px;
}

.gallery-item figure {
	margin: 0;
	position: relative;
	width: 100%;
    height: auto;
}

.gallery-item figcaption {
	position: absolute;
	top: 50%;
    left: 50%;
    z-index: 1;   
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: #888;
    font-size: 20px;
    transform: translate(-50%, 100%);
    opacity: 0;
}

.gallery-item figcaption, .gallery-item img {
	transition: transform 0.35s;
}

.gallery-item a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

.gallery-item:hover figcaption{
	transform: translate(-50%, -50%);
	opacity: 1;
}

.gallery-item:hover img {
	opacity: 0.8;
}

.gallery-item a:hover {
	transform: scale(1.1);
}

.gallery-item:last-child {
	margin-right: 0;
}

#about {	
	padding: 130px 0;
}

.about__item {
	width: 60%;
	margin: 0 0 96px;
}

.about__item:nth-child(odd) {
	float: left;

}

.about__item:nth-child(even) {
	float: right;

}

.about__item:nth-child(even) img {
	float: left;
}

.item-title {
	width: 50%;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;	
	margin: 0 30px 0 55px;
}

.item-title a {
	color: #000;
	text-decoration: none;
}

.item-title a:hover {
	text-decoration: underline;
}

.about__item:nth-child(even) .item-title {
	text-align: left;
	margin: 0 55px 0 30px;
}

.item-title div {
	text-transform: uppercase;
	margin: 0 0 10px;
}

.item-title h4 {
	margin: 0 0 20px;
}

.item-title p {
	color: #777;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.55em;
	letter-spacing: -0.75px;	
}

.about__item img:hover {
	transform: scale(1.1);

}

footer {
	padding: 20px 0 110px;
	text-align: center;
	font-size: 14px;
	color: #555;
}