* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background: url('../img/head-bg.jpg') no-repeat top right /cover;
	padding-bottom: 160px;
}

.logo {	
	float: left;
	margin-top: 43px;
}

.menu {
	float: right;
	display: block;
	margin: 55px 0 0 0;
}

.menu li {
	display: block;
	float: left;
}

.menu a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 41px;
}